*{
    padding: 0;
    border: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a01515;
}

.app{
    background-color: white;
    padding: 2rem;
}

.app .header .time,
.app .header .result{
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
}


.app .content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.app .content .game{
    width: 300px;
    height: 300px;
    border: .1rem dotted black;
    background-color: gray;
    position: relative;
}

.app .content .btn{
    position: absolute;
    padding: .5rem 1rem;
    cursor: pointer;
}

.footer{
   text-align: center; 
   padding: 1rem;
}

.footer input[type=number]{
    color: orange;
    border: 1px solid black;
    font-size: 1.2rem;
}

.hide{
    display: none !important;
}
